[submodule "src/contrib/imgui"]
	path = src/contrib/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
[submodule "src/contrib/nanopb"]
	path = src/contrib/nanopb
	url = https://github.com/nanopb/nanopb.git
	ignore = dirty
[submodule "src/contrib/imgui-filebrowser"]
	path = src/contrib/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
	ignore = dirty
[submodule "src/contrib/libtmt"]
	path = src/contrib/libtmt
	url = https://github.com/deadpixi/libtmt
