[submodule "src/fdbg/contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/fdbg/contrib/glfw"]
	path = contrib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/fdbg/contrib/nanopb"]
	path = contrib/nanopb
	url = https://github.com/nanopb/nanopb.git
